<section class="home section" id="home">
  <div class="home-content">
    <h3 class="home-greeting animate-fade-in" data-i18n="hello"></h3>
    <h1 class="home-name animate-fade-in-delay">
      <span class="name-gradient">Eduardo Morbeck</span>
    </h1>
    <p class="home-description animate-fade-in-delay-2" data-i18n="helloText">
    </p>

    <div class="social-media">
      <a
        href="https://www.linkedin.com/in/eduardo-dos-santos-morbeck/"
        target="_blank"
        aria-label="LinkedIn"
        class="social-link"
      >
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a
        href="https://github.com/EduardoMorbeck"
        target="_blank"
        aria-label="GitHub"
        class="social-link"
      >
        <i class="fa-brands fa-github"></i>
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=5554981536510"
        target="_blank"
        aria-label="WhatsApp"
        class="social-link"
      >
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>

    <a
      href="/img/Curriculo Eduardo dos Santos Morbeck.pdf"
      download="Eduardo_Morbeck_CV.pdf"
      class="btn btn-download"
    >
      <i class="fa-solid fa-download"></i>
      <div data-i18n="download"></div>
    </a>
  </div>

  <div class="profession-container">
    <div class="profession-box">
      <div class="profession" style="--i:0;">
        <div class="profession-icon-wrapper">
          <i class="fa-solid fa-desktop"></i>
        </div>
        <h3>Web developer</h3>
      </div>
      <div class="profession" style="--i:1;">
        <div class="profession-icon-wrapper">
          <i class="fa-solid fa-code"></i>
        </div>
        <h3>Dev Front-End</h3>
      </div>
      <div class="profession" style="--i:2;">
        <div class="profession-icon-wrapper">
          <i class="fa-solid fa-palette"></i>
        </div>
        <h3>UI/UX designer</h3>
      </div>
      <div class="profession" style="--i:3;">
        <div class="profession-icon-wrapper">
          <i class="fa-solid fa-server"></i>
        </div>
        <h3>Dev Back-End</h3>
      </div>

      <div class="circle"></div>
    </div>

    <div class="overlay"></div>
  </div>

  <div class="home-img">
    <div class="home-img-wrapper">
      <img
        src="/img/innovation-animate.svg"
        alt="Ilustração de inovação e tecnologia"
        loading="eager"
      />
    </div>
  </div>
</section>
